/* google font cdn link */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Homemade+Apple&family=Mouse+Memoirs&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Andika New Basic', sans-serif;
}
:root{
    --black-color:#000000;
    --grey-color:#2D4263;
    --yello-color:#F9B208;
    --blue-color: #2D31FA;
}
/* navbar styling*/
.navbar{
    display: flex;
    width: 1050px;
    margin: auto;
    margin-top: 50px;
}
.navbar .menu a{
    font-size: 18px;
    font-weight: 600;
    color: var(--black-color);
    padding: 6px 10px;
    transition: all 0.4s ease;
}
.navbar .nav-contain{
    width: 65%;
}
.navbar .menu li{
    list-style: none;
    margin: 0 15px;
}
.navbar .menu a:hover{
    cursor: pointer;
}
.navbar .menu {
    display: flex;
}
.navbar .menu-icon{
    display: none;
}
.navbar .logo{
     font-weight: 700;
     font-size: 25px;
     width: 100px;
}
/* homepage styling */
 .home{
    display: flex;
    margin: auto;
    margin-top: 150px;
    width: 1050px;
}
.home .name{
    font-size: 45px;
    font-weight: 900.2;
    width: 450px;
}
.home .abt{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 550;
    width: 900px;
}
.css_btn_class {  
    margin-top: 10px;
    font-size: 22px;  
    font-family: Arial Black;  
    font-weight: normal;   
    border-radius: 5px;  
    border: 5px solid var(--black-color);  
    padding: 6px 15px;  
    text-decoration: none;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8abbeb', endColorstr='#2f88e0');  
    background-color: var(--black-color);  
    color: #ffffff;  
    display: inline-block; 
    transition-duration: 1s; 
} 
.css_btn_class:hover {  
    margin-top: 10px;
    font-size: 22px;  
    font-family: Arial Black;  
    font-weight:100;   
    border-radius: 5px;  
    border: 5px solid var(--black-color);  
    padding: 6px 15px;  
    text-decoration: none;  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8abbeb', endColorstr='#2f88e0');  
    background-color: var(--black-color);  
    color: #ffffff;  
    display: inline-block; 
    transition-duration: 1s; 
} 
.about{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    width: 1050px;
}
.about img{
    width: 240px;
    height: 200px;
    margin-left: 50px;
    margin-right: 9px;
}
.about .tech{
    display: flex;
    margin-top: -10px;
}
.about .name{
    font-size: 45px;
    font-weight: 900.2;
}
.about .skill{
    margin-top: 0px;
    font-weight: 900;
    font-size: 25px;
    overflow: hidden;
}
.about .discreaption{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 18px;
    margin-top: 20px;
    font-family: sans-serif;
}
.about .discreaption p{
    margin-top: 30px;
    font-size: 16px;
}
.blog{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    width: 1050px;
}
.blog-heading{
    margin-top: 20px;
    color: var(--black-color);
}
.blog .name{
    font-size: 45px;
    font-weight: 900.2;
}
.blog-section h1{
     text-align: center;
     margin-top: 50px;
}
.blog-date{
    font-size: 18px;
    font-family: sans-serif;
}
.blog-heading:hover{
    transition-duration: 0.5s;
    color: var(--blue-color);
    cursor: pointer;
}
.project{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    width: 1050px;
}
.project .project-name{
    font-size: 27px;
    font-weight: 800;
}
.project .name{
    font-size: 45px;
    font-weight: 900.2;
}
.project-heading{
    margin: 20px 0px 0px 30px;
}
.project .view-code{
    position: relative;
    margin-top: 40px;
    margin-left: 180px;
    cursor: pointer;
    width: 80px;
    color: var(--blue-color);
}
.project .view-app{
    position: relative;
    margin-top: 40px;
    cursor: pointer;
    width: 80px;
    color: var(--blue-color);
}
.project .code-link{
    display: flex;
    width: 50px;
}
.project .border-style{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    }
.project-box1{
    display: inline-block;
    margin: 20px 30px 20px 0px;
    border: none;
    width: 400px;
    height: 150px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
.project-box1:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s; 
}
.project-box2{
    display: inline-block;
    margin: 20px 30px 20px 0px;
    border: none;
    width: 400px;
    height: 150px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;

}
.project-box2:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s ease-in-out;
}
.footer{
    background-color: rgba(196, 196, 196, 0.2);
    height: 25vh;
    width: 100%;
}
.footer .footer-content{
    display: flex;
    margin: auto;
    width: 260px;
    margin-top: 100px;
}
.footer .footer-text{
    display: flex;
    margin: auto;
    width: 300px;
    font-size: 15px;
    margin-top: 5px;
}
.footer .creater{
    color: var(--black-color);
}
.footer .icon i{
    margin: 90px 10px 0px 10px;
    font-size: 22px;
    color: var(--grey-color);
}
.footer .icon i:hover{
    color: var(--blue-color);
    cursor: pointer;
}
ul{
    margin: 20px 60px 20px 20px;
}
li{
    margin: 10px 0px;
}
hr{
    width: 100%;
    margin-top: 10px;
}
.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
/* Responsive */
@media(max-width:1100px){
    .navbar .menu {
        display: none;
    }
    .navbar{
        width: 800px;
    }
    .navbar .logo{
        font-weight: 700;
        font-size: 20px;
        width: 100px;
   }
    .navbar .menu-icon{
        display: block;
        font-size: 20px;
    }
    .navbar .nav-contain{
        width: 90%;
    }
    .home{
        margin-top: 80px;
        width: 800px;
    }
    .home .abt{
        margin-top: 10px;
        font-size: 30px;
        font-weight: 550;
        width: 800px;
    }
    .about{
        margin-top: 70px;
        width: 800px;
    }
    .about .name{
        font-size: 25px;
        font-weight: 900.2;
    }
    .about .tech{
        display: flex;
        margin-top: -10px;
        font-size: 14px
    }
    .about img{
        width: 120px;
        height: 140px;
    }
    .about .discreaption{
        margin-top: 15px;
        font-family: sans-serif;
    }
    .about .skill{
        margin-top: 5px;
        font-weight: 900;
        font-size: 19px;
    }
    .about .discreaption p{
        margin-top: 30px;
        font-size: 14px;
    }
    .project{
        margin-top: 70px;
        width: 800px;
    }
    .blog{
        margin-top: 70px;
        width: 800px;
    }
    .blog-section h1{
        display: flex;
        margin: auto;
        margin-top: 100px;
        width: 500px;
   }
   .footer .footer-content{
    display: flex;
    margin: auto;
    width: 250px;
    margin-top: 100px;
   }
   .footer .footer-text{
    display: flex;
    margin: auto;
    width: 300px;
    font-size: 15px;
    margin-top: 5px;
}
}
@media(max-width:850px){
    .navbar .menu {
        display: none;
    }
    .navbar{
        width: 600px;
    }
    .navbar .menu-icon{
        display: block;
        font-size: 20px;
    }
    .navbar .nav-contain{
        width: 90%;
    }
    .home{
        margin-top: 70px;
        width: 600px;
    }
    .home .abt{
        margin-top: 10px;
        font-size: 30px;
        font-weight: 550;
        width: 600px;
    }
    .about{
        margin-top: 30px;
        width: 600px;
    }
    .about .skill{
        margin-top: 5px;
        font-weight: 900;
        font-size: 19px;
    }
    .project{
        margin-top: 70px;
        width: 600px;
    }
    .blog{
        margin-top: 70px;
        width: 600px;
    }
    .blog-section h1{
        display: flex;
        margin: auto;
        margin-top: 100px;
        width: 400px;
   }
}
@media(max-width:650px){
    .navbar .menu {
        display: none;
    }
    .navbar{
        width: 400px;
    }
    .css_btn_class {  
        font-size: 15px;  
        font-family: Arial Black;  
        font-weight: normal;   
        border-radius: 5px;  
        border: 5px solid var(--black-color);  
        padding: 4px 7px;  
    } 
    .navbar .menu-icon{
        display: block;
        font-size: 20px;
    }
    .navbar .nav-contain{
        width: 90%;
    }
    .home{
        margin-top: 60px;
        width: 400px;
    }
    .home .name{
        font-size: 30px;
        font-weight: 900.2;
        width: 450px;
    }
    .home .abt{
        margin-top: 10px;
        font-size: 15px;
        font-weight: 550;
        width: 400px;
    }
    .about{
        margin-top: 20px;
        width: 400px;
    }
    .about img{
        width: 140px;
        height: 120px;
        margin: 40px 5px 0px 20px;
    }
    .about .discreaption p{
        margin-top: 10px;
        font-size: 12px;
    }
    .about .name{
        font-size: 18px;
        font-weight: 900.2;
        width: 450px;
    }
    .project{
        margin-top: 70px;
        width: 400px;
    }
    .blog{
        margin-top: 70px;
        width: 400px;
    }
    .blog-section h1{
        display: flex;
        margin: auto;
        margin-top: 100px;
        width: 300px;
   }
}
@media(max-width:450px){
    .navbar .menu {
        display: none;
    }
    .navbar{
        width: 350px;
    }
    .css_btn_class {  
        font-size: 15px;  
        font-family: Arial Black;  
        font-weight: normal;   
        border-radius: 5px;  
        border: 5px solid var(--black-color);  
        padding: 5px 8px;  
    } 
    .navbar .menu-icon{
        display: block;
        font-size: 20px;
    }
    .navbar .nav-contain{
        width: 90%;
    }
    .navbar .close-icon{
        display: block;
    }
    .home{
        margin-top: 50px;
        width: 350px;
    }
    .home .name{
        font-size: 32px;
        font-weight: 900.2;
        width: 300px;
    }
    .home .abt{
        margin-top: 10px;
        font-size: 17px;
        font-weight: 550;
        width: 280px;
    }
    .about{
        margin-top: 20px;
        width: 350px;
    }
    .about img{
        width: 130px;
        height: 90px;
        margin: 40px 5px 0px 20px;
    }
    .about .discreaption p{
        margin-top: 10px;
        font-size: 11px;
    }
    .about .name{
        font-size: 20px;
        font-weight: 900.2;
        width: 450px;
    }
    .project{
        margin-top: 70px;
        width: 350px;
    }
    .project .project-name{
        font-size: 20px;
        font-weight: 800;
    }
    .project .view-code{
        position: relative;
        margin-top: 20px;
        margin-left: 120px;
        cursor: pointer;
        width: 80px;
        font-size: 14px;
        color: var(--blue-color);
    }
    .project .view-app{
        position: relative;
        margin-top: 20px;
        cursor: pointer;
        width: 80px;
        font-size: 14px;
        color: var(--blue-color);
    }
    .project-box1{
        display: inline-block;
        margin: 20px 30px 20px 0px;
        border: none;
        width: 340px;
        height: 120px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 5px;
    }
    .project-box2{
        display: inline-block;
        margin: 20px 30px 20px 0px;
        border: none;
        width: 340px;
        height: 120px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 5px;
    
    }
    
    .blog{
        margin-top: 70px;
        width: 350px;
    }
    .blog-section h1{
        display: flex;
        margin: auto;
        margin-top: 100px;
        width: 300px;
   }
}