/* google font cdn link */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Homemade+Apple&family=Mouse+Memoirs&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Andika New Basic', sans-serif;
}
:root{
    --black-color:#000000;
    --grey-color:#2D4263;
    --yello-color:#F9B208;
    --blue-color: #2D31FA;
}
/* navbar styling*/

nav{
    position: fixed;
    top: 20px;
    width: 100%;
    padding: 20px 0;
    transition: all 0.3s ease;
}
.navbar{
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.navbar .menu a{
    font-size: 18px;
    font-weight: 600;
    color: var(--black-color);
    padding: 6px 0;
    transition: all 0.4s ease;
}
.navbar .menu li{
    list-style: none;
    margin: 0 15px;
}
.navbar .menu li:hover{
    text-decoration: underline;
}
.navbar .menu a:hover{
    color: var(--grey-color);
}
.navbar .menu {
    display: flex;
}
.navbar .logo{
     font-weight: 700;
     font-size: 25px;
}

/* homepage styling */

.home{
    height: 80vh;
    width: 100%;
    
}
.home .intro{
    position: absolute;
    left: 22.3%;
    top: 30%;
}
.home .name{
    font-size: 45px;
    font-weight: 900.2;
}
.home .abt{
    font-size: 25px;
    margin-top: 10px;
    font-weight: 700;
}
.footer{
    background-color: rgba(196, 196, 196, 0.2);
    height: 20vh;
    width: 100%;
}
.footer .footer-content{
    position: relative;
    text-align: center;
    top: 50%;
}
.footer .footer-text{
    font-size: 15px;
    margin-top: 20px;
}
.footer .icon i{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}
.footer .icon i:hover{
    color: var(--blue-color);
    cursor: pointer;
}