/* google font cdn link */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Homemade+Apple&family=Mouse+Memoirs&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Andika New Basic', sans-serif;
}
:root{
    --black-color:#000000;
    --grey-color:#2D4263;
    --yello-color:#F9B208;
    --blue-color: #2D31FA;
}
/* navbar styling*/
.navbar{
    display: flex;
    width: 1050px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.navbar .menu a{
    font-size: 18px;
    font-weight: 600;
    color: var(--black-color);
    padding: 6px 10px;
    transition: all 0.4s ease;
}
.navbar .menu li{
    list-style: none;
    margin: 0 15px;
}

.navbar .menu a:hover{
    cursor: pointer;
}
.navbar .menu {
    display: flex;
}
.navbar .menu-icon{
    display: none;
}
.navbar .logo{
     font-weight: 700;
     font-size: 25px;
     width: 100px;
}
/* homepage styling */
 .home{
    display: flex;
    margin: auto;
    margin-top: 200px;
    width: 1050px;
}
.home .name{
    font-size: 45px;
    font-weight: 900.2;
    width: 450px;
}
.home .abt{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 550;
    width: 900px;
}
.css_btn_class {  
    margin-top: 10px;
    font-size: 22px;  
    font-family: Arial Black;  
    font-weight: normal;   
    border-radius: 5px;  
    border: 5px solid var(--black-color);  
    padding: 6px 15px;  
    text-decoration: none;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8abbeb', endColorstr='#2f88e0');  
    background-color: var(--black-color);  
    color: #ffffff;  
    display: inline-block; 
    transition-duration: 1s; 
} 
.css_btn_class:hover {  
    margin-top: 10px;
    font-size: 22px;  
    font-family: Arial Black;  
    font-weight:100;   
    border-radius: 5px;  
    border: 5px solid var(--black-color);  
    padding: 6px 15px;  
    text-decoration: none;  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8abbeb', endColorstr='#2f88e0');  
    background-color: var(--black-color);  
    color: #ffffff;  
    display: inline-block; 
    transition-duration: 1s; 
} 
.about{
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 1050px;
}
.about img{
    width: 240px;
    height: 200px;
    margin-left: 50px;
    margin-right: 9px;
}
.about .tech{
    display: flex;
    margin-top: -10px;
}
.about .name{
    font-size: 45px;
    font-weight: 900.2;
}
.about .skill{
    margin-top: 0px;
    font-weight: 900;
    font-size: 25px;
    overflow: hidden;
}
.about .discreaption{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 18px;
    margin-top: 60px;
    font-family: sans-serif;
}
.about .discreaption p{
    margin-top: 30px;
    font-size: 16px;
}
.blog{
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 1050px;
}
.blog-heading{
    margin-top: 20px;
    color: var(--black-color);
}
.blog .name{
    font-size: 45px;
    font-weight: 900.2;
}
.blog-section h1{
     text-align: center;
     margin-top: 50px;
}
.blog-date{
    font-size: 18px;
    font-family: sans-serif;
}
.blog-heading:hover{
    transition-duration: 0.5s;
    color: var(--blue-color);
    cursor: pointer;
}
.project{
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 1050px;
}
.project .name{
    font-size: 45px;
    font-weight: 900.2;
}
.project-heading{
    margin: 20px 0px 0px 30px;
}
.project .view-code{
    position: relative;
    margin-top: 40px;
    margin-left: 180px;
    cursor: pointer;
    width: 80px;
    color: var(--blue-color);
}
.project .view-app{
    position: relative;
    margin-top: 40px;
    cursor: pointer;
    width: 80px;
    color: var(--blue-color);
}
.project .code-link{
    display: flex;
    width: 50px;
}
.project .border-style{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    }
.project-box1{
    display: inline-block;
    margin: 20px 30px 20px 0px;
    border: none;
    width: 400px;
    height: 150px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
.project-box1:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s; 
}
.project-box2{
    display: inline-block;
    margin: 20px 30px 20px 0px;
    border: none;
    width: 400px;
    height: 150px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;

}
.project-box2:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s ease-in-out;
}
.footer{
    background-color: rgba(196, 196, 196, 0.2);
    height: 20vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0px;
}
.footer .footer-content{
    display: flex;
    margin: auto;
    width: 315px;
    margin-top: 100px;
}
.footer .footer-text{
    display: flex;
    margin: auto;
    width: 370px;
    font-size: 15px;
    margin-top: 5px;
}
.footer .creater{
    color: var(--black-color);
}
.footer .icon i{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
    color: var(--grey-color);
}
.footer .icon i:hover{
    color: var(--blue-color);
    cursor: pointer;
}
ul{
    margin: 20px 60px 20px 20px;
}
.nav-contain{
    width: 65%;
}
li{
    margin: 10px 0px;
}
hr{
    width: 100%;
    margin-top: 10px;
}
/* Responsive */
